@use   '../setting/setting';
@use '../mixin/mixin' as *;
.header {
  line-height: 94px;
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
}
.header-inner {
  max-width: 74.816984vw;
  margin: auto;
  vertical-align: middle;
  padding-right:0.951684vw;
  padding-left: 1.976574vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

//ヘッダーロゴ
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo__title {
  padding-left: 16px;
  font-size: 24px;
  font-weight: bold;

}

//ヘッダーナビ
.header-nav {
  // padding-left: 9.956076vw;
  margin-left: -46px;
  &__list {
    display: flex;
  }
  &__item {
    font-weight: bold;
    // padding-right: 3.367496vw;
    padding-right: 46px;
  }
  &__item:last-of-type {
    padding-right: 0;
  }
}
.header-button {
  margin-left: 13.469985vw;
}

@include mq(l){
  .header-nav {
    display: none;
  }
  .header-button {
    display: none;
  }
}
